body{
    font-family: consolas;
    background: #1a1a1a;
    overflow-x:hidden;
}
/*/////////////////////////////////////////////////////////////////////////////////////////*/
#title{
      text-align:center;
      color:white;
}
/*/////////////////////////////////////////////////////////////////////////////////////////*/
@media only screen and (min-width:800px) {

#menubar{
     background-image: linear-gradient(to right,grey,black,black,black,black,black,black,black,black,black,black,black,black,black,black,black,black,black,black,black,black,black,black,black,black,black,black,black,black,grey);
     text-align: center;
     font-size: 15px;
     color: white;
}

#menubar li{
     display:inline-block;
     margin-top:5px;
     margin-bottom:5px;
     background: black;
     margin-left:10px;
     font-size:140%;
     color:white;
}

#menubar li a{
     text-decoration:none;
     color:white;
} 

#menubar li:hover{
      background: grey;
      border-radius: 3px;
      color:black;
      font-size:150%;
 } 

#menubar .active{
      background-color:grey;
      color:black;
      border-radius: 3px;
}}


@media only screen and (max-width:800px) {
  
#menubar{
      background-image: linear-gradient(to right,grey,black,black,black,black,black,black,black,black,black,black,black,black,black,black,black,black,black,black,black,black,black,black,black,black,black,black,black,black,grey);
      font-size: 15px;
      color: white;
}

#menubar li{
      margin-top:5px;
      margin-bottom:5px;
      background: black;
      margin-left:10px;
      font-size:140%;
      width:90%;
      color:white;
}

#menubar ul a{
      text-decoration:none;
      color:white;
} 

#menubar li:hover{
       background: grey;
       border-radius: 3px;
       color:black;
       font-size:150%;
 } 

#menubar .active{
       background-color:grey;
       color:black;
       border-radius: 3px;
}}
.imgoverlay{
    float: left;
    width: 70%;
    padding: 10px;
    height:65%;
    position:relative;
      background: url("https://images.unsplash.com/photo-1455849318743-b2233052fcff?ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80");
    background-repeat: no-repeat;
    background-size: cover;
}

.img:after {
   content: "";
   display: table;
   clear: both;
}


.img{
    width:100%;
    padding: 25px;
    font-size:400%;
    color:goldenrod;
}

@media only screen and (max-width:1050px) {

.imgoverlay{
   float: left;
   width: 70%;
   padding: 10px;
   height:40%;
   position:relative;
    background: url("https://images.unsplash.com/photo-1455849318743-b2233052fcff?ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80");
   background-repeat: no-repeat;
   background-size: cover;
}

.img{
    font-size:290%;
}}

@media only screen and (max-width:600px) {

.imgoverlay{
   float: left;
   width: 50%;
   padding: 10px;
   height:23%;
   position:relative;
    background: url("https://images.unsplash.com/photo-1455849318743-b2233052fcff?ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80");
   background-repeat: no-repeat;
   background-size: cover;
}

.img{
    font-size:120%;
    width:100%;
}
    
.textoverlay pre{
    margin-left:65%;
}    
}
  
  
/*///////////////////////*/
.button
{
    text-align: center;
    margin-top: 100px;
}

.btn
{
    border: 1px solid goldenrod;
    background: black;
    padding: 10px 20px;
    font-family: sans-serif;
    cursor: pointer;
    margin: 10px;
}

.btn1,btn2
{
    color: goldenrod;
}

.btn1:hover,.btn2:hover
{
    color: goldenrod;
}
/*///////////////////////*/

.personalform1 {
  float: left;
  width:95%;
  height:90%;
  padding: 10px;
  background-color:  #404040;
  position:relative;
  border-bottom: 10%;
}

form{
    width:60%;
    margin-left:10%;
}

.personalform{  
    border-right: 20px;
    border-left: 20px;
    font-size: 18px;
    padding: 20px;
    line-height: 18px; 
    margin-bottom: 20px;
    color:white;
}

@media only screen and (max-width:600px) {

.personalform1 {
   width:100%;
   height:100%;
   background-color:  #404040;
   position:relative;
   font-size: 15px;
   padding: 20px;
   line-height: 18px;
   margin-left:-5.5%;
   color:white;
}}


/*/////////////////////////////////////////////////////////////////////////////////////////*/
.F1{
   position:relative;
   top:-30px;
}

.column2 {
  float: left;
   width: 40%;
   padding: 10px;
   position:relative;
   top:-60px;
   border-radius:4px; 
}

.column21:after {
  content:"";
  display: table;
  clear:both;
}

.column21{
   margin-left:4%;
}

.footer{
     width:100%;
     height:66%;
     background-color:#26272b;
     color:#737373;
}

.footer a{
   color:#737373;
   text-decoration:none;
}

.footer a:hover{
   font-size:115%;
   color:white;
}

.footer h4{
     color:white; 
}

.column2 h4{
     color:white; 
     margin-left:5%;
}

.footer li{
    margin-top:2%;
  
}

.F1{
   width:80%;
   font-size:110%;
   margin-left:7%;
}

.F2{
   font-size:110%;
   width:100%;
}

.F3{
   font-size:110%;
   width:100%;
   float:left;
    height:62%;
}

@media only screen and (max-width:480px) {
.footer{
     width:100%;
     height:55%;
     font-size:90%;
}

.column2 h4{
     color:white; 
     margin-left:25%;
}}

/*/////////////////////////////////////////////////////////////////////////////////////////*/

.cr{
   float: left;
   width:45%;
   padding: 10px;
   position:relative;
}

.socialbar{
   float:right;
   width:45%;
   padding: 10px;
   position:relative;
}


.colun:after {
  content:"";
  display: table;
  clear:both;
}

.social li{
   display:inline;
}

.socialbar img{
 margin-left:4%;
 width:15%;
 height:7%;
}


.socialbar img:hover{
  width:17%;
  height:9%;
}

.cr{
color:white;
}

.cr a{
color:white;
}

.cr a:hover{
color:white;
 font-size:115%;
}

@media only screen and (max-width:480px) {
.cr{
   float: left;
   width:100%;
   padding: 10px;
   position:relative;
   text-align:center;
   top:-60px;
}

.socialbar{
   float:right;
   width:100%;
   padding: 10px;
   position:relative;
   top:-60px;
}

.socialbar img{
 margin-left:6%;
 width:15%;
 height:7%;
}}
/*/////////////////////////////////////////////////////////////////////////////////////////*/
  




  
   